<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="My name is Graham. I build things.">

        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">

        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    </head>
    <body>
      <div class="site">
        <div class="main">
          <div class="banner">
            <span>Hello.</span><br class="hidden-md hidden-lg"/> I'm Graham.
            <p class="smaller">
              I like to build things.
            </p>
          </div>
          <div class="banner-small">
            <a href="https://www.patientbank.us" class="logo">
              <img src="/images/pb.png" alt="PatientBank">
            </a>
            Right now I'm building <a href="https://www.patientbank.us">PatientBank</a>.
          </div>
        </div>

        <div class="footer container">
          <div class="contact">
            <p>
              Graham Kaemmer<br />
              Developer<br />
              graham <span>(at)</span> gkaemmer.com
            </p>
          </div>
          <div class="contact">
            <p>
              <a href="https://github.com/gkaemmer"><i class="fa fa-github"></i></a> &nbsp;
              <a href="https://www.linkedin.com/pub/graham-kaemmer/33/727/363"><i class="fa fa-linkedin"></i></a> &nbsp;
              <a href="https://twitter.com/grahamkaemmer"><i class="fa fa-twitter"></i></a> &nbsp;
            </p>
          </div>
        </div>
      </div>

      <script src="/js/main.js"></script>
    </body>
</html>
